### use # to comment out the configure item

### I/O ###
train_dir=./data/train_word_bmes_pos_ddenp.txt
dev_dir=./data/dev_word_bmes_pos_ddenp.txt
test_dir=./data/test_word_bmes_pos_ddenp.txt
model_dir=./result/model_name_

#pretrained
word_emb_dir=/data/embedding.txt
char_emb_dir=/data/embedding.txt

norm_word_emb=False
norm_char_emb=False
number_normalized=True
seg=True
word_emb_dim=300
char_emb_dim=300

###NetworkConfiguration###
use_crf=True
use_char=True
char_seq_feature=GRU
word_seq_feature=STAR
feature=[POS] emb_size=40
nbest=10

###TrainingSetting###
status=train
optimizer=adam
iteration=50
batch_size=10
ave_batch_loss=True

###mine-parameters###
cuda_id=0
head_layer=1
tail_layer=1
star_head=5
star_layer=6
star_glu=2
star_dropout=0.1
use_gcn=True
gcn_type=gat
gcn_layer=2

###Hyperparameters###
cnn_layer=1
char_hidden_dim=100
hidden_dim=300
dropout=0.5
lstm_layer=1
bilstm=True
learning_rate=0.0001
lr_decay=0.05
momentum=0
l2=1e-8
gpu=true
